$icons-map: (
  ikn-agenda: "\e900",
  ikn-analytics: "\e901",
  ikn-angle-down: "\e902",
  ikn-angle-left: "\e903",
  ikn-angle-right: "\e904",
  ikn-angle-top: "\e905",
  ikn-arrow-down: "\e906",
  ikn-arrow-left: "\e907",
  ikn-arrow-right: "\e908",
  ikn-arrow-top: "\e909",
  ikn-attachment: "\e90a",
  ikn-backward: "\e90b",
  ikn-bell: "\e90c",
  ikn-bulb: "\e90d",
  ikn-calendar: "\e90e",
  ikn-cards: "\e90f",
  ikn-chart-area: "\e910",
  ikn-chart-bars: "\e911",
  ikn-chart-pie: "\e912",
  ikn-chat: "\e913",
  ikn-check: "\e914",
  ikn-clock: "\e915",
  ikn-close-circle-full: "\e916",
  ikn-close-circle: "\e917",
  ikn-close: "\e918",
  ikn-code: "\e919",
  ikn-copy: "\e91a",
  ikn-dashborad: "\e91b",
  ikn-desktop: "\e91c",
  ikn-devices: "\e91d",
  ikn-diamond: "\e91e",
  ikn-documentation: "\e91f",
  ikn-dots-full: "\e920",
  ikn-dots: "\e921",
  ikn-double-arrow-left: "\e922",
  ikn-double-arrow-right: "\e923",
  ikn-download: "\e924",
  ikn-drag: "\e925",
  ikn-ecommerce: "\e926",
  ikn-edit: "\e927",
  ikn-email: "\e928",
  ikn-equal-circle-full: "\e929",
  ikn-equal-circle: "\e92a",
  ikn-equal: "\e92b",
  ikn-erase: "\e92c",
  ikn-expand: "\e92d",
  ikn-eye-hide: "\e92e",
  ikn-eye: "\e92f",
  ikn-facebook: "\e930",
  ikn-faq: "\e931",
  ikn-fast-backward: "\e932",
  ikn-fast-forward: "\e933",
  ikn-file-code: "\e934",
  ikn-file-csv: "\e935",
  ikn-file-doc: "\e936",
  ikn-file-log: "\e937",
  ikn-file-pdf: "\e938",
  ikn-file-ppt: "\e939",
  ikn-file-xls: "\e93a",
  ikn-file-zip: "\e93b",
  ikn-file: "\e93c",
  ikn-filter-full: "\e93d",
  ikn-filter: "\e93e",
  ikn-folder: "\e93f",
  ikn-forward: "\e940",
  ikn-gear: "\e941",
  ikn-gender: "\e942",
  ikn-gift: "\e943",
  ikn-google-plus: "\e944",
  ikn-hamburger-menu: "\e945",
  ikn-heart-full: "\e946",
  ikn-heart: "\e947",
  ikn-image: "\e948",
  ikn-info-full: "\e949",
  ikn-info: "\e94a",
  ikn-instagram: "\e94b",
  ikn-laptop: "\e94c",
  ikn-link: "\e94d",
  ikn-linkedin: "\e94e",
  ikn-list: "\e94f",
  ikn-lock-open: "\e950",
  ikn-lock: "\e951",
  ikn-minus-circle-full: "\e952",
  ikn-minus-circle: "\e953",
  ikn-minus: "\e954",
  ikn-news: "\e955",
  ikn-order: "\e956",
  ikn-pause: "\e957",
  ikn-phone: "\e958",
  ikn-pin: "\e959",
  ikn-play: "\e95a",
  ikn-plus-circle-full: "\e95b",
  ikn-plus-circle: "\e95c",
  ikn-plus: "\e95d",
  ikn-power: "\e95e",
  ikn-refresh: "\e95f",
  ikn-resize: "\e960",
  ikn-retail: "\e961",
  ikn-save: "\e962",
  ikn-search: "\e963",
  ikn-segment: "\e964",
  ikn-send: "\e965",
  ikn-settings: "\e966",
  ikn-smartphone: "\e967",
  ikn-smartwatch: "\e968",
  ikn-smile: "\e969",
  ikn-stop: "\e96a",
  ikn-support: "\e96b",
  ikn-system: "\e96c",
  ikn-tablet: "\e96d",
  ikn-tag-full: "\e96e",
  ikn-tag: "\e96f",
  ikn-trash: "\e970",
  ikn-twitter: "\e971",
  ikn-unlink: "\e972",
  ikn-upload: "\e973",
  ikn-user: "\e974",
  ikn-users: "\e975",
  ikn-wand: "\e976",
  ikn-warning: "\e977"
);