$icons-map: (
  icon-agenda: "\e900",
  icon-analytics: "\e901",
  icon-arrow-down: "\e902",
  icon-arrow-full-down: "\e903",
  icon-arrow-full-left: "\e904",
  icon-arrow-full-right: "\e905",
  icon-arrow-full-top: "\e906",
  icon-arrow-left: "\e907",
  icon-arrow-right: "\e908",
  icon-arrow-top: "\e909",
  icon-attachment: "\e90a",
  icon-bulb: "\e90b",
  icon-calendar: "\e90c",
  icon-cards: "\e90d",
  icon-chart-area: "\e90e",
  icon-chart-bars: "\e90f",
  icon-chart-pie: "\e910",
  icon-chat: "\e911",
  icon-check-circle-full: "\e912",
  icon-check-circle: "\e913",
  icon-check: "\e914",
  icon-checkbox-select: "\e915",
  icon-checkbox: "\e916",
  icon-clock: "\e917",
  icon-close-circle-full: "\e918",
  icon-close-circle: "\e919",
  icon-close: "\e91a",
  icon-code: "\e91b",
  icon-contactlab: "\e91c",
  icon-copy: "\e91d",
  icon-dashboard: "\e91e",
  icon-desktop: "\e91f",
  icon-devices: "\e920",
  icon-diamond: "\e921",
  icon-digital-campaign: "\e922",
  icon-documentation: "\e923",
  icon-dots: "\e924",
  icon-double-arrow-left: "\e925",
  icon-double-arrow-right: "\e926",
  icon-download: "\e927",
  icon-drag: "\e928",
  icon-ecommerce: "\e929",
  icon-edit: "\e92a",
  icon-email: "\e92b",
  icon-equal-circle-full: "\e92c",
  icon-equal-circle: "\e92d",
  icon-equal: "\e92e",
  icon-erase: "\e92f",
  icon-expand: "\e930",
  icon-eye-hide: "\e931",
  icon-eye: "\e932",
  icon-facebook-circle: "\e933",
  icon-faq: "\e934",
  icon-file-code: "\e935",
  icon-file-csv: "\e936",
  icon-file-doc: "\e937",
  icon-file-log: "\e938",
  icon-file-pdf: "\e939",
  icon-file-ppt: "\e93a",
  icon-file-xls: "\e93b",
  icon-file-zip: "\e93c",
  icon-file: "\e93d",
  icon-filter-2: "\e93e",
  icon-filter-full: "\e93f",
  icon-filter: "\e940",
  icon-folder: "\e941",
  icon-forward: "\e942",
  icon-gear: "\e943",
  icon-gender: "\e944",
  icon-gift: "\e945",
  icon-google-plus-circle: "\e946",
  icon-hamburger-menu: "\e947",
  icon-heart-full: "\e948",
  icon-heart: "\e949",
  icon-image: "\e94a",
  icon-info-full: "\e94b",
  icon-info: "\e94c",
  icon-laptop: "\e94d",
  icon-link: "\e94e",
  icon-linkedin-circle: "\e94f",
  icon-list: "\e950",
  icon-lock: "\e951",
  icon-minus-circle-full: "\e952",
  icon-minus-circle: "\e953",
  icon-minus: "\e954",
  icon-news: "\e955",
  icon-pause: "\e956",
  icon-phone: "\e957",
  icon-pin: "\e958",
  icon-play: "\e959",
  icon-plus-circle-full: "\e95a",
  icon-plus-circle: "\e95b",
  icon-plus: "\e95c",
  icon-power: "\e95d",
  icon-previous: "\e95e",
  icon-radio-select: "\e95f",
  icon-radio: "\e960",
  icon-refresh: "\e961",
  icon-resize: "\e962",
  icon-retail: "\e963",
  icon-rewind: "\e964",
  icon-save: "\e965",
  icon-search: "\e966",
  icon-segment: "\e967",
  icon-send: "\e968",
  icon-settings: "\e969",
  icon-sign-full: "\e96a",
  icon-sign: "\e96b",
  icon-skip: "\e96c",
  icon-smartphone: "\e96d",
  icon-smartwatch: "\e96e",
  icon-smile: "\e96f",
  icon-stop: "\e970",
  icon-support: "\e971",
  icon-switch-off: "\e972",
  icon-switch-on: "\e973",
  icon-switch: "\e974",
  icon-system: "\e975",
  icon-tablet: "\e976",
  icon-tag-full: "\e977",
  icon-tag: "\e978",
  icon-trash: "\e979",
  icon-twitter-circle: "\e97a",
  icon-unlink: "\e97b",
  icon-upload: "\e97c",
  icon-user: "\e97d",
  icon-users: "\e97e",
  icon-wand: "\e97f",
  icon-warning-full: "\e980",
  icon-warning: "\e981",
);