$icons-map: (
  ikn-camera-full: "\e9c1",
  ikn-camera: "\e9c2",
  ikn-google-plus: "\e944",
  ikn-linkedin: "\e94e",
  ikn-twitter: "\e971",
  ikn-facebook: "\e930",
  ikn-youtube: "\e978",
  ikn-pinterest: "\e979",
  ikn-github: "\e97a",
  ikn-agenda: "\e900",
  ikn-agenda-full: "\e97b",
  ikn-analytics: "\e901",
  ikn-angle-down: "\e902",
  ikn-angle-left: "\e903",
  ikn-angle-right: "\e904",
  ikn-angle-top: "\e905",
  ikn-arrow-down: "\e906",
  ikn-arrow-left: "\e907",
  ikn-arrow-right: "\e908",
  ikn-arrow-top: "\e909",
  ikn-attachment: "\e90a",
  ikn-backward: "\e90b",
  ikn-backward-full: "\e97c",
  ikn-bell: "\e90c",
  ikn-bell-full: "\e97d",
  ikn-bulb: "\e90d",
  ikn-bulb-full: "\e97e",
  ikn-calendar: "\e90e",
  ikn-calendar-full: "\e97f",
  ikn-cards: "\e90f",
  ikn-cards-full: "\e980",
  ikn-chart-area: "\e910",
  ikn-chart-area-full: "\e981",
  ikn-chart-bars: "\e911",
  ikn-chart-bars-full: "\e982",
  ikn-chart-pie: "\e912",
  ikn-chart-pie-full: "\e983",
  ikn-chat: "\e913",
  ikn-chat-full: "\e984",
  ikn-check: "\e914",
  ikn-clock: "\e915",
  ikn-clock-full: "\e985",
  ikn-close-circle: "\e917",
  ikn-close-circle-full: "\e916",
  ikn-close: "\e918",
  ikn-code: "\e919",
  ikn-copy: "\e91a",
  ikn-copy-full: "\e986",
  ikn-dashboard: "\e91b",
  ikn-dashboard-full: "\e987",
  ikn-desktop: "\e91c",
  ikn-desktop-full: "\e988",
  ikn-devices: "\e91d",
  ikn-devices-full: "\e989",
  ikn-diamond: "\e91e",
  ikn-diamond-full: "\e98a",
  ikn-documentation: "\e91f",
  ikn-documentation-full: "\e98b",
  ikn-dots-full: "\e920",
  ikn-dots: "\e921",
  ikn-double-arrow-left: "\e922",
  ikn-double-arrow-right: "\e923",
  ikn-download: "\e924",
  ikn-download-full: "\e98c",
  ikn-drag: "\e925",
  ikn-ecommerce: "\e926",
  ikn-ecommerce-full: "\e98d",
  ikn-edit: "\e927",
  ikn-edit-full: "\e98e",
  ikn-email: "\e928",
  ikn-email-full: "\e98f",
  ikn-equal-circle: "\e92a",
  ikn-equal-circle-full: "\e929",
  ikn-equal: "\e92b",
  ikn-erase: "\e92c",
  ikn-erase-full: "\e990",
  ikn-expand: "\e92d",
  ikn-expand-full: "\e991",
  ikn-eye-hide: "\e92e",
  ikn-eye-hide-full: "\e992",
  ikn-eye: "\e92f",
  ikn-eye-full: "\e993",
  ikn-faq: "\e931",
  ikn-faq-full: "\e994",
  ikn-fast-backward: "\e932",
  ikn-fast-backward-full: "\e995",
  ikn-fast-forward: "\e933",
  ikn-fast-forward-full: "\e996",
  ikn-file-code: "\e934",
  ikn-file-code-full: "\e997",
  ikn-file-csv: "\e935",
  ikn-file-csv-full: "\e998",
  ikn-file-doc: "\e936",
  ikn-file-doc-full: "\e999",
  ikn-file-log: "\e937",
  ikn-file-log-full: "\e99a",
  ikn-file-pdf: "\e938",
  ikn-file-pdf-full: "\e99b",
  ikn-file-ppt: "\e939",
  ikn-file-ppt-full: "\e99c",
  ikn-file-xls: "\e93a",
  ikn-file-xls-full: "\e99d",
  ikn-file-zip: "\e93b",
  ikn-file-zip-full: "\e99e",
  ikn-file: "\e93c",
  ikn-file-full: "\e99f",
  ikn-filter: "\e93e",
  ikn-filter-full: "\e93d",
  ikn-folder: "\e93f",
  ikn-folder-full: "\e9a0",
  ikn-forward: "\e940",
  ikn-forward-full: "\e9a1",
  ikn-gear: "\e941",
  ikn-gear-full: "\e9a2",
  ikn-gender: "\e942",
  ikn-gift: "\e943",
  ikn-gift-full: "\e9a3",
  ikn-hamburger-menu: "\e945",
  ikn-heart: "\e947",
  ikn-heart-full: "\e946",
  ikn-image: "\e948",
  ikn-image-full: "\e9a4",
  ikn-info: "\e94a",
  ikn-info-full: "\e949",
  ikn-instagram: "\e94b",
  ikn-laptop: "\e94c",
  ikn-laptop-full: "\e9a5",
  ikn-link: "\e94d",
  ikn-list: "\e94f",
  ikn-list-full: "\e9a6",
  ikn-lock-open: "\e950",
  ikn-lock-open-full: "\e9a7",
  ikn-lock: "\e951",
  ikn-lock-full: "\e9a8",
  ikn-minus-circle-full: "\e952",
  ikn-minus-circle: "\e953",
  ikn-minus: "\e954",
  ikn-news: "\e955",
  ikn-news-full: "\e9a9",
  ikn-order: "\e956",
  ikn-pause: "\e957",
  ikn-pause-full: "\e9aa",
  ikn-phone: "\e958",
  ikn-phone-full: "\e9ab",
  ikn-pin: "\e959",
  ikn-pin-full: "\e9ac",
  ikn-play: "\e95a",
  ikn-play-full: "\e9ad",
  ikn-plus-circle: "\e95c",
  ikn-plus-circle-full: "\e95b",
  ikn-plus: "\e95d",
  ikn-power: "\e95e",
  ikn-refresh: "\e95f",
  ikn-resize: "\e960",
  ikn-retail: "\e961",
  ikn-retail-full: "\e9ae",
  ikn-save: "\e962",
  ikn-save-full: "\e9af",
  ikn-search: "\e963",
  ikn-search-full: "\e9b0",
  ikn-segment: "\e964",
  ikn-segment-full: "\e9b1",
  ikn-send: "\e965",
  ikn-send-full: "\e9b2",
  ikn-settings: "\e966",
  ikn-settings-full: "\e9b3",
  ikn-smartphone: "\e967",
  ikn-smartphone-full: "\e9b4",
  ikn-smartwatch: "\e968",
  ikn-smartwatch-full: "\e9b5",
  ikn-smile: "\e969",
  ikn-smile-full: "\e9b6",
  ikn-stop: "\e96a",
  ikn-stop-full: "\e9b7",
  ikn-support: "\e96b",
  ikn-support-full: "\e9b8",
  ikn-system: "\e96c",
  ikn-system-full: "\e9b9",
  ikn-tablet: "\e96d",
  ikn-tablet-full: "\e9ba",
  ikn-tag: "\e96f",
  ikn-tag-full: "\e96e",
  ikn-trash: "\e970",
  ikn-trash-full: "\e9bb",
  ikn-unlink: "\e972",
  ikn-upload: "\e973",
  ikn-upload-full: "\e9bc",
  ikn-user: "\e974",
  ikn-user-full: "\e9bd",
  ikn-users: "\e975",
  ikn-users-full: "\e9be",
  ikn-wand: "\e976",
  ikn-wand-full: "\e9bf",
  ikn-warning: "\e977",
  ikn-warning-full: "\e9c0"
);